/build*
bin
obj
*.o
OUT.*
log.txt
result.out
*.dat
.DS_Store
.cache
.vscode
html
*.log
STRU_READIN_ADJUST.cif
*.egg
*.egg-info
build
dist
.idea
toolchain.tar.gz
time.json
*.pyc
__pycache__
abacus.json