 *********************************************************
 *                                                       *
 *                  WELCOME TO ABACUS                    *
 *                                                       *
 *            'Atomic-orbital Based Ab-initio            *
 *                  Computation at UStc'                 *
 *                                                       *
 *          Website: http://abacus.ustc.edu.cn/          *
 *                                                       *
 *********************************************************
 Sun Feb 13 11:03:12 2022
 MAKE THE DIR         : OUT.ABACUS/
 dft_functional readin is: lda
 dft_functional in pseudopot file is: PBE
In Pseudopot_upf::read_pseudo_header : input xc functional does not match that in pseudopot file
Please make sure this is what you need
 dft_functional readin is: lda
 dft_functional in pseudopot file is: PBE
In Pseudopot_upf::read_pseudo_header : input xc functional does not match that in pseudopot file
Please make sure this is what you need
 DONE(0.0225328  SEC) : SETUP UNITCELL
 DONE(0.025794   SEC) : INIT K-POINTS
 ---------------------------------------------------------
 Self-consistent calculations for electrons
 ---------------------------------------------------------
 SPIN    KPOINTS         PROCESSORS  NBASE       
 1       64              4           78          
 ---------------------------------------------------------
 Use Systematically Improvable Atomic bases
 ---------------------------------------------------------
 ELEMENT ORBITALS        NBASE       NATOM       XC          
 Si      2s2p1d-8au      13          2           PZ-LDA
 O       2s2p1d-7au      13          4           PZ-LDA
 ---------------------------------------------------------
 Initial plane wave basis and FFT box
 ---------------------------------------------------------
 SET NONLOCAL PSEUDOPOTENTIAL PROJECTORS
 SET NONLOCAL PSEUDOPOTENTIAL PROJECTORS
 DONE(5.65334    SEC) : INIT PLANEWAVE
 UNIFORM GRID DIM     : 48 * 48 * 48
 UNIFORM GRID DIM(BIG): 24 * 24 * 24
 DONE(5.65821    SEC) : INIT CHARGE
 DONE(5.65881    SEC) : INIT POTENTIAL
 START POTENTIAL      : atomic
 -------------------------------------------
 SELF-CONSISTENT : 
 -------------------------------------------
 ITER   ETOT(eV)       EDIFF(eV)      DRHO2      TIME(s)    
 GE1    -1.953336e+03  0.000000e+00   1.917e-01  4.574e+00  
 GE2    -1.959186e+03  -5.849931e+00  5.826e-02  8.976e+00  
 GE3    -1.958710e+03  4.763325e-01   3.623e-02  9.086e+00  
 GE4    -1.958727e+03  -1.724662e-02  3.656e-03  8.899e+00  
 GE5    -1.958717e+03  9.610438e-03   6.999e-04  8.928e+00  
 GE6    -1.958720e+03  -3.017022e-03  2.051e-04  8.899e+00  
 GE7    -1.958721e+03  -8.629733e-04  6.410e-05  8.950e+00  
 GE8    -1.958721e+03  2.435323e-04   2.026e-05  8.914e+00  
 GE9    -1.958721e+03  9.950870e-05   4.851e-06  8.961e+00  
 GE10   -1.958721e+03  -3.672429e-05  2.123e-06  8.897e+00  
 GE11   -1.958721e+03  -4.891839e-07  4.610e-07  8.967e+00  
E_delta_band = 3.05662373e-01 Ry = 4.15874994e+00 eV
E_delta_NN= -5.60836123e-01 Ry = -7.63056692e+00 eV

  |CLASS_NAME---------|NAME---------------|TIME(Sec)-----|CALLS----|AVG------|PER%-------
                       total               109.48         11        10        1e+02     %
   Run_lcao            lcao_line           109.47         1         1.1e+02   1e+02     %
   ORB_control         read_orb_first      0.1082         1         0.11      0.099     %
   LCAO_Orbitals       Read_Orbitals       0.1082         1         0.11      0.099     %
   ORB_control         set_orb_tables      4.936          1         4.9       4.5       %
   ORB_gen_tables      gen_tables          4.936          1         4.9       4.5       %
   ORB_table_phi       init_Table          1.2888         1         1.3       1.2       %
   ORB_table_phi       cal_ST_Phi12_R      1.2764         210       0.0061    1.2       %
   ORB_table_beta      init_Table_Beta     0.62555        1         0.63      0.57      %
   ORB_table_beta      VNL_PhiBeta_R       0.62086        104       0.006     0.57      %
   ORB_table_alpha     init_Table_Alpha    2.8193         1         2.8       2.6       %
   ORB_table_alpha     S_PhiAlpha_R        2.8015         396       0.0071    2.6       %
   Potential           init_pot            0.21974        1         0.22      0.2       %
   Charge              atomic_rho          0.19988        1         0.2       0.18      %
   Potential           v_of_rho            0.10309        12        0.0086    0.094     %
   LOOP_ions           opt_ions            103.48         1         1e+02     95        %
   LOOP_elec           solve_elec_stru     98.931         1         99        90        %
   Grid_Driver         Find_atom           0.15189        8772      1.7e-05   0.14      %
   LOOP_elec           before_solver       0.27755        1         0.28      0.25      %
   LCAO_Hamilt         set_lcao_matrices   0.19481        1         0.19      0.18      %
   LCAO_gen_fixedH     build_Nonlocal_mu_new0.13854        1         0.14      0.13      %
   LOOP_elec           solver              98.563         1         99        90        %
   ELEC_scf            scf                 98.563         1         99        90        %
   ELEC_cbands_k       cal_bands           85.167         11        7.7       78        %
   LCAO_Deepks         cal_projected_DM_k  53.45          12        4.5       49        %
   LCAO_DESCRIPTOR     add_v_delta_k       17.516         11        1.6       16        %
   Gint_k              vlocal              9.4273         11        0.86      8.6       %
   Efficience          each_k              12.478         704       0.018     11        %
   Efficience          H_k                 7.8473         704       0.011     7.2       %
   LCAO_Hamilt         calculate_Hk        7.8455         704       0.011     7.2       %
   Gint_k              folding_vl_k        1.7985         704       0.0026    1.6       %
   Gint_k              Distri              1.4116         704       0.002     1.3       %
   LCAO_nnr            folding_fixedH      6.0371         704       0.0086    5.5       %
   Efficience          diago_k             4.6296         704       0.0066    4.2       %
   Diago_LCAO_Matrix   elpa_solve          3.97           704       0.0056    3.6       %
   Diago_LCAO_Matrix   gath_eig_complex    0.11119        704       0.00016   0.1       %
   Local_Orbital_Cha   sum_bands           8.6823         11        0.79      7.9       %
   LCAO_Charge         cal_dk_k            1.5915         11        0.14      1.5       %
   Gint_k              cal_rho_k           6.3413         11        0.58      5.8       %
 ----------------------------------------------------------------------------------------

 START  Time  : Sun Feb 13 11:03:12 2022
 FINISH Time  : Sun Feb 13 11:05:02 2022
 TOTAL  Time  : 1.1e+02
 SEE INFORMATION IN : OUT.ABACUS/
