name: Container

on:
  push:
    branches:
      - develop
      - reconstruction
      - newelpa

jobs:
  build_container_and_push:
    runs-on: self-hosted
    strategy:
      matrix:
        dockerfile: ["gnu","intel","cuda"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Container
        uses: docker/build-push-action@v2
        with:
          tags: ghcr.io/${{ github.repository_owner }}/abacus-development-kit:${{matrix.dockerfile}}
          file: Dockerfile.${{matrix.dockerfile}}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/abacus-development-kit:${{matrix.dockerfile}}
          cache-to: type=inline
          push: true
